# Ignore everything
*

# Except the .gitignore file itself
!.gitignore

# Except the certain files in subdirectories. 
!makeCompoundFit/
!makeCompoundFit/makeCompoundFit.py
!makeCompoundFit/makeCompoundFit.ini

